In [5]:
# Yeni ürünlerin toplam ticaret hacimde oranlarının yıllar boyunca hesabı 
# ama 2012'deki yeni ürünler 2017'de de yeni ürün olarak sayılıyor

import pandas as pd

# Yıllar ve ilgili HS sürümleri 
yillar = list(range(2012, 2022))
hs_versiyonlari = {year: 'HS12' if year <= 2016 else 'HS17' for year in yillar}

# Dosya yolu formatı 
dosya_yolu_format = r"C:\Users\oguzo\Desktop\BACI\BACI_{hs_version}_V202401\BACI_{hs_version}_Y{year}_V202401.csv"

sonuclar1 = pd.DataFrame()
# Her yıl için işlem yapma
for year in yillar:
    hs_version = hs_versiyonlari[year] 
    dosya_yolu = dosya_yolu_format.format(hs_version=hs_version, year=year)  
    df = pd.read_csv(dosya_yolu)
    toplam_ticaret_hacmi = df['v'].sum()

    # Yeni ürünlerin ticaret hacmini hesaplama
    yeni_urunler_ticaret_hacmi = df[df['k'].isin(combined_new_products['code'])]['v'].sum()
    
    # Yeni ürünlerin ticaret hacminin toplam ticaret hacmine oranı
    yeni_urunler_orani = (yeni_urunler_ticaret_hacmi / toplam_ticaret_hacmi) * 100
    sonuclar1.at[0, year] = yeni_urunler_orani
print(sonuclar1)

       2012      2013      2014      2015      2016     2017      2018  \
0  2.086973  2.176638  2.274769  2.352316  2.475517  5.00821  5.094979

       2019      2020     2021
0  5.377335  6.289561  6.46423

In [6]:
# Yeni ürünlerin toplam ticaret hacimde oranlarının yıllar boyunca hesabı 

import pandas as pd

# Yıllar ve ilgili HS sürümleri 
yillar = list(range(2012, 2022))
hs_versiyonlari = {year: 'HS12' if year <= 2016 else 'HS17' for year in yillar}

# Dosya yolu formatı 
dosya_yolu_format = r"C:\Users\oguzo\Desktop\BACI\BACI_{hs_version}_V202401\BACI_{hs_version}_Y{year}_V202401.csv"
sonuclar2 = pd.DataFrame()

# Her yıl için işlem yapma
for year in yillar:
    hs_version = hs_versiyonlari[year] 
    dosya_yolu = dosya_yolu_format.format(hs_version=hs_version, year=year)  
    df = pd.read_csv(dosya_yolu)
    toplam_ticaret_hacmi = df['v'].sum()

    # 2012-2016 için new_products_2012_df, 2017-2021 için new_products_2017_df kullanılıyor
    if year <= 2016:
        yeni_urunler_ticaret_hacmi = df[df['k'].isin(new_products_2012_df['code'])]['v'].sum()
    else:
        yeni_urunler_ticaret_hacmi = df[df['k'].isin(new_products_2017_df['code'])]['v'].sum()
    
    # Yeni ürünlerin ticaret hacminin toplam ticaret hacmine oranı
    yeni_urunler_orani = (yeni_urunler_ticaret_hacmi / toplam_ticaret_hacmi) * 100
    
    # Sonuçları kaydetme (yıllara göre)
    sonuclar2.at[0, year] = yeni_urunler_orani

print(sonuclar2)

       2012      2013      2014      2015      2016      2017     2018  \
0  2.086973  2.176638  2.274769  2.352316  2.475517  2.598973  2.77306

       2019      2020      2021
0  3.026804  3.601382  3.811417

In [8]:
# 2012'de ve 2017'de yeni eklenen ürünlerin CEE/MENA bölgesinde ticaret hacminde oranları 2012-2021

import pandas as pd

# Yıllar ve ilgili HS sürümleri
yillar = list(range(2012, 2022))
hs_versiyonlari = {year: 'HS12' if year <= 2016 else 'HS17' for year in yillar}

dosya_yolu_format = r"C:\Users\oguzo\Desktop\BACI\BACI_{hs_version}_V202401\BACI_{hs_version}_Y{year}_V202401.csv"
ulkeler_df = pd.read_excel('ulkeler_with_codes.xlsx')

sonuclar3 = pd.DataFrame()
for index, row in ulkeler_df.iterrows():
    ulke = row['Countries']  
    ulke_kodu = row['country_code']  
    for year in yillar:
        hs_version = hs_versiyonlari[year] 
        dosya_yolu = dosya_yolu_format.format(hs_version=hs_version, year=year)
        df = pd.read_csv(dosya_yolu)
        
        # Yalnızca ilgili ülkeye ait veriyi filtreleme
        ulke_veri = df[df['i'] == ulke_kodu]  
        toplam_ticaret_hacmi = ulke_veri['v'].sum()
        
        # 2012-2016 için new_products_2012_df, 2017-2021 için new_products_2017_df 
        if year <= 2016:
            yeni_urunler_ticaret_hacmi = ulke_veri[ulke_veri['k'].isin(new_products_2012_df['code'])]['v'].sum()
        else:
            yeni_urunler_ticaret_hacmi = ulke_veri[ulke_veri['k'].isin(new_products_2017_df['code'])]['v'].sum()

        if toplam_ticaret_hacmi > 0:  
            yeni_urunler_orani = (yeni_urunler_ticaret_hacmi / toplam_ticaret_hacmi) * 100
        else:
            yeni_urunler_orani = 0
        sonuclar3.at[ulke, year] = yeni_urunler_orani
print(sonuclar3)

                                2012       2013       2014       2015  \
Albania                     2.455680   1.196996   1.544558   2.079583
Bosnia Herzegovina          1.130186   1.777296   1.622640   1.454274
Bulgaria                    3.942161   4.455663   3.971128   4.560285
Croatia                     2.727272   2.748216   2.459964   3.045353
Czech Republic              1.595151   1.620575   1.738862   1.653044
Estonia                     2.751993   3.238719   4.848010   4.347834
Hungary                     1.874480   2.127370   1.958050   2.041150
Latvia                      6.705390   6.630127   7.076200   8.373769
Lithuania                   4.672587   4.816619   6.685790   5.874693
Montenegro                  0.292376   0.457785   1.091850   0.949923
North Macedonia             0.493988   0.454768   0.537310   0.480460
Poland                      2.587100   2.731306   2.885498   3.239657
Romania                     2.349129   3.354646   3.794836   3.177242
Serbia                      1.989645   3.248259   1.856345   2.188099
Slovakia                    0.954561   1.087287   1.103432   1.444606
Slovenia                    1.499111   1.208633   1.246945   1.257250
Belarus                     0.573083   1.061751   1.391414   1.488897
Moldova                     2.081559   3.354986   4.835215   6.362991
Russia                      1.773972   1.551322   2.413418   2.684147
Ukraine                     4.315918   4.250893   9.074079  11.642324
Cyprus                      2.410645   4.558405   3.208318   2.566536
Israel                      0.521612   0.549918   0.606437   0.765141
Malta                       1.965375   2.741118   1.589200   3.134930
Algeria                     0.016637   0.041433   0.029470   0.041520
Bahrain                     0.214309   0.443952   0.181839   0.286375
Djibouti                    7.429328   3.864574   2.572977   8.255234
Egypt                       1.019624   1.360362   1.486583   1.884597
Iran                        1.354145   2.349638   2.616273   3.025495
Iraq                        0.000320   0.000632   0.000854   0.001622
Jordan                      1.161056   1.637499   1.516182   2.198465
Kuwait                      0.020228   0.083775   0.082702   0.278761
Lebanon                     1.266387   1.469441   1.625697   2.068389
Libya                       0.004401   0.015138   0.040668   0.098552
Morocco                     2.773361   2.966669   2.560099   2.792327
Oman                        0.313092   0.360412   0.505084   0.674985
Palestine                   2.158642   1.397915   1.271786   1.146667
Qatar                       0.007447   0.015098   0.010172   0.020118
Saudi Arabia                0.114580   0.211892   0.250231   0.409799
Somalia                    17.918907  17.630511  14.063174  14.524203
Sudan                       0.919987   1.873896   5.317655   5.883696
Syria                       5.527013  11.582494   9.459967  18.280670
Tunisia                     1.044061   1.695273   1.731426   1.798253
Turkey                      1.509852   2.109045   2.088256   2.221828
United Arab Emirates(UAE)   0.152193   0.615358   0.476881   0.554439
Yemen                       1.428650   2.335103   3.446450   5.651545

                                2016       2017       2018       2019  \
Albania                     3.131718   0.963994   0.826627   1.070076
Bosnia Herzegovina          1.766480   3.655677   3.567327   3.464985
Bulgaria                    5.902630   1.629434   1.798802   2.093126
Croatia                     3.273652   5.649247   4.663727   4.918672
Czech Republic              1.965950   2.082282   2.222300   2.656412
Estonia                     3.476120   8.005846   8.621459   8.823006
Hungary                     2.279131   1.889884   2.117672   2.294908
Latvia                      7.839244  11.175359  11.895343  11.669455
Lithuania                   5.973622   5.541335   6.067282   5.879118
Montenegro                  1.052116   1.619346   2.185849   1.536057
North Macedonia             0.327058   0.532390   0.368267   0.413987
Poland                      3.277937   1.672554   1.953107   1.640369
Romania                     3.926508   1.350449   1.304755   1.559653
Serbia                      2.448758   1.479481   1.527893   1.513553
Slovakia                    1.435778   1.474502   1.817545   4.875186
Slovenia                    1.191110   3.297337   3.673729   4.148861
Belarus                     1.654721   4.912840   4.643130   4.971772
Moldova                     7.768025   0.549084   0.548205   0.499940
Russia                      3.744584   2.279475   2.107790   2.100165
Ukraine                    13.610072   1.977999   2.112430   1.577444
Cyprus                      2.046492   0.996970   0.887983   1.229895
Israel                      0.994170   2.355069   2.432826   2.573409
Malta                       2.375299   1.131095   1.007762   1.005383
Algeria                     0.054621   0.032616   0.054045   0.049548
Bahrain                     0.635943   0.345494   0.198894   0.172838
Djibouti                   14.938663   0.428303   0.409294   1.045264
Egypt                       2.425486   1.075687   1.304051   2.003916
Iran                        2.172620   0.953115   0.902118   1.704984
Iraq                        0.002662   0.001040   0.000404   0.001545
Jordan                      1.574713   0.229072   0.236253   0.310800
Kuwait                      0.364266   0.292937   1.353788   1.507880
Lebanon                     2.433748   2.427743   2.754473   2.146548
Libya                       0.192008   0.007542   0.004631   0.002843
Morocco                     2.593820   5.487408   4.786966   4.674369
Oman                        0.838706   0.834522   0.907953   0.811258
Palestine                   1.149563   1.284602   0.827639   0.605056
Qatar                       0.060127   0.285416   0.262057   0.298928
Saudi Arabia                0.428761   0.950114   1.263119   1.249895
Somalia                    15.391447   7.997892   5.234716   3.179925
Sudan                      12.348726   0.003592   0.056346   0.062942
Syria                      19.602104   0.082225   0.207228   0.409240
Tunisia                     1.545278   0.654310   1.197680   1.379862
Turkey                      2.231790   3.045462   3.932606   3.832884
United Arab Emirates(UAE)   0.511528   0.703290   0.796425   0.787852
Yemen                       8.346695   0.748945   2.199151   2.209426

                                2020       2021
Albania                     1.353848   1.418282
Bosnia Herzegovina          4.028365   4.113901
Bulgaria                    2.578105   2.894300
Croatia                     5.868066   4.799448
Czech Republic              4.197245   5.906488
Estonia                     8.483660   9.114683
Hungary                     3.925886   4.331911
Latvia                     11.176067  13.053558
Lithuania                   5.654777   6.346889
Montenegro                  1.823182   2.195426
North Macedonia             0.574563   0.594473
Poland                      2.052188   2.310880
Romania                     3.791839   3.518771
Serbia                      1.551744   1.426655
Slovakia                    9.652995  11.330470
Slovenia                    5.552279   7.510036
Belarus                     5.968540   6.034639
Moldova                     0.850801   0.889384
Russia                      2.624835   2.547447
Ukraine                     1.778220   2.207438
Cyprus                      2.089377   2.229534
Israel                      3.002835   2.710498
Malta                       1.472240   1.650954
Algeria                     0.076928   0.082584
Bahrain                     0.191866   0.213297
Djibouti                    0.026788   0.099138
Egypt                       1.849240   2.417582
Iran                        1.892254   1.474486
Iraq                        0.002490   0.003951
Jordan                      0.495620   0.387982
Kuwait                      2.030606   1.913945
Lebanon                     1.584484   3.262142
Libya                       0.003841   0.003781
Morocco                     4.979953   5.596507
Oman                        1.510745   1.126981
Palestine                   0.451895   0.468804
Qatar                       0.298626   0.179298
Saudi Arabia                1.543079   1.098694
Somalia                     2.051181   1.494334
Sudan                       0.019088   0.044227
Syria                       0.381634   0.505743
Tunisia                     0.871298   1.275538
Turkey                      4.544224   4.030941
United Arab Emirates(UAE)   1.025315   0.881511
Yemen                       3.257379   3.123039

In [9]:
sonuclar3.to_excel("a.xlsx")

In [16]:
import pandas as pd

# Yıllar ve ilgili HS sürümleri
yillar = list(range(2012, 2022))
hs_versiyonlari = {year: 'HS12' if year <= 2016 else 'HS17' for year in yillar}

dosya_yolu_format = r"C:\Users\oguzo\Desktop\BACI\BACI_{hs_version}_V202401\BACI_{hs_version}_Y{year}_V202401.csv"
ulkeler_df = pd.read_excel('ulkeler_with_codes.xlsx')

# Sonuçları depolamak için boş DataFrame
sonuclar3 = pd.DataFrame(columns=['Year', 'Country'])

# Her ülke ve her yıl için işlem yapma
for index, row in ulkeler_df.iterrows():
    ulke = row['Countries']  
    ulke_kodu = row['country_code']  
    
    for year in yillar:
        hs_version = hs_versiyonlari[year] 
        dosya_yolu = dosya_yolu_format.format(hs_version=hs_version, year=year)
        df = pd.read_csv(dosya_yolu)
        
        # Yalnızca ilgili ülkeye ait veriyi filtreleme
        ulke_veri = df[df['i'] == ulke_kodu]  
        toplam_ticaret_hacmi = ulke_veri['v'].sum()
        
        # Yeni ürünlerin kodlarını al ve ticaret hacimlerini hesapla
        if year <= 2016:
            yeni_urunler = new_products_2012_df['code']
        else:
            yeni_urunler = new_products_2017_df['code']
        
        # İlk olarak (yıl, ülke) kombinasyonunu DataFrame'e ekliyoruz, yoksa yeni satır oluştur
        if not ((sonuclar3['Year'] == year) & (sonuclar3['Country'] == ulke)).any():
            # Yeni satır ekliyoruz
            sonuclar3 = pd.concat([sonuclar3, pd.DataFrame({'Year': [year], 'Country': [ulke]})], ignore_index=True)
        
        # Ticaret hacmi hesaplama
        urunler_toplami = 0  # Her ürünün ticaret hacmini toplamak için
        for urun_kodu in yeni_urunler:
            urun_ticaret_hacmi = ulke_veri[ulke_veri['k'] == urun_kodu]['v'].sum()
            
            # Eğer toplam ticaret hacmi 0 değilse, oranı hesapla ve 1000'e böl
            if toplam_ticaret_hacmi > 0:
                ticaret_hacmi_orani = (urun_ticaret_hacmi / toplam_ticaret_hacmi) * 100
                urun_kodu_degeri = urun_kodu // 1000  # Ürün kodunu 1000'e bölme
            else:
                ticaret_hacmi_orani = 0
                urun_kodu_degeri = urun_kodu // 1000

            # Toplam ürün kodları ve ticaret hacmi oranlarını toplama
            urunler_toplami += urun_kodu_degeri
            
            # Ürün koduna göre sütun oluşturup veriyi ekle
            urun_kodu_sutun = f"{urun_kodu_degeri}"
            if urun_kodu_sutun not in sonuclar3.columns:
                sonuclar3[urun_kodu_sutun] = None

            sonuclar3.loc[(sonuclar3['Year'] == year) & (sonuclar3['Country'] == ulke), urun_kodu_sutun] = ticaret_hacmi_orani
        
        # Toplam ürünlerin altına toplanmış ticaret hacmi oranını yazma
        if 'Toplam' not in sonuclar3.columns:
            sonuclar3['Toplam'] = None
        sonuclar3.loc[(sonuclar3['Year'] == year) & (sonuclar3['Country'] == ulke), 'Toplam'] = urunler_toplami

# Sonuçları yazdırma
print(sonuclar3)

     Year  Country   10   20        30        40        60        70   71  \
0    2012  Albania  0.0  0.0       0.0  0.027008  0.008862  0.008119  0.0
1    2013  Albania  0.0  0.0       0.0  0.002516  0.007477  0.015023  0.0
2    2014  Albania  0.0  0.0       0.0  0.000113  0.005982  0.020575  0.0
3    2015  Albania  0.0  0.0  0.000246       0.0  0.004693  0.020037  0.0
4    2016  Albania  0.0  0.0  0.001054  0.000257  0.004802  0.017003  0.0
..    ...      ...  ...  ...       ...       ...       ...       ...  ...
445  2017    Yemen  NaN  NaN       0.0       NaN       NaN       NaN  NaN
446  2018    Yemen  NaN  NaN       0.0       NaN       NaN       NaN  NaN
447  2019    Yemen  NaN  NaN       0.0       NaN       NaN       NaN  NaN
448  2020    Yemen  NaN  NaN       0.0       NaN       NaN       NaN  NaN
449  2021    Yemen  NaN  NaN       0.0       NaN       NaN       NaN  NaN

           80  ...   600   690       842   843   845   846       853   870  \
0    0.005904  ...  None  None      None  None  None  None      None  None
1    0.014679  ...  None  None      None  None  None  None      None  None
2    0.002185  ...  None  None      None  None  None  None      None  None
3    0.007043  ...  None  None      None  None  None  None      None  None
4    0.002612  ...  None  None      None  None  None  None      None  None
..        ...  ...   ...   ...       ...   ...   ...   ...       ...   ...
445       0.0  ...   0.0   0.0       0.0   0.0   0.0   0.0       0.0   0.0
446       0.0  ...   0.0   0.0       0.0   0.0   0.0   0.0       0.0   0.0
447       0.0  ...   0.0   0.0       0.0   0.0   0.0   0.0       0.0   0.0
448       0.0  ...   0.0   0.0       0.0   0.0   0.0   0.0       0.0   0.0
449       0.0  ...   0.0   0.0  0.000008   0.0   0.0   0.0  0.000129   0.0

          940   962
0        None  None
1        None  None
2        None  None
3        None  None
4        None  None
..        ...   ...
445  0.003763   0.0
446       0.0   0.0
447       0.0   0.0
448       0.0   0.0
449       0.0   0.0

[450 rows x 73 columns]

In [27]:
import pandas as pd

# Veriyi yükleyin
df = pd.read_excel('c.xlsx', 'Sheet1')

# NaN değerleri sıfırla doldurun
df_cleaned = df.fillna(0)

# Veriyi uzun formata dökün, 'Year' ve 'Country' dışındaki sütunları ürün sütunu olarak ayırın
df_melted = pd.melt(df_cleaned, id_vars=['Year', 'Country'], var_name='Product', value_name='Value')

# Veriyi yıl ve ülkeye göre sıralayın
df_panel = df_melted.sort_values(by=['Year', 'Country']).reset_index(drop=True)

# Sonuç olarak elde edilen panel veriyi inceleyin
print(df_panel)
df_panel.to_excel("d.xlsx")

       Year  Country Product     Value
0      2012  Albania      10  0.000000
1      2012  Albania      20  0.000000
2      2012  Albania      30  0.000000
3      2012  Albania      40  0.027008
4      2012  Albania      60  0.008862
...     ...      ...     ...       ...
31495  2021    Yemen     846  0.000000
31496  2021    Yemen     853  0.000129
31497  2021    Yemen     870  0.000000
31498  2021    Yemen     940  0.000000
31499  2021    Yemen     962  0.000000

[31500 rows x 4 columns]

In [1]:
import pandas as pd

# Load the Excel files
d_df = pd.read_excel('d.xlsx')
combined_atlas_df = pd.read_excel('combined_atlas_data.xlsx')

# Step 1: Divide the "Unnamed: 2" column by 10 in d.xlsx and create a new column with the divided codes
d_df['Divided_Code'] = (d_df['Unnamed: 2'] // 10).astype(int)

# Step 2: Extract 2-digit codes from the "Class_2_Data" column in combined_atlas_data.xlsx
# The HS codes are the numbers in parentheses, so we'll extract those
combined_atlas_df['Code'] = combined_atlas_df['Class_2_Data'].str.extract(r'\((\d{2})')

# Step 3: Create a mapping from the 2-digit code to the corresponding name in combined_atlas_data.xlsx
code_to_name_mapping = dict(zip(combined_atlas_df['Code'], combined_atlas_df['Class_1_Data']))

# Step 4: Replace the codes in d_df with the corresponding names from combined_atlas_data
# We use the Divided_Code column to map the codes to names
d_df['Replaced_Name'] = d_df['Divided_Code'].map(code_to_name_mapping)

# Save the modified d_df to a new Excel file
d_df.to_excel('updated_d.xlsx', index=False)

In [9]:
import pandas as pd

# Load the Excel files
updated_d_df = pd.read_excel('updated_d.xlsx')
combined_atlas_df = pd.read_excel('combined_atlas_data.xlsx')

# Step 1: Extract 2-digit codes from the 'Class_2_Data' column in combined_atlas_data.xlsx
combined_atlas_df['Code'] = combined_atlas_df['Class_2_Data'].str.extract(r'\((\d{2})')

code_to_name_mapping = dict(zip(combined_atlas_df['Code'], combined_atlas_df['Class_1_Data']))
updated_d_df['Mapped_Name'] = updated_d_df['Divided_Code'].map(code_to_name_mapping)
updated_d_df['Mapped_Name']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
31495    NaN
31496    NaN
31497    NaN
31498    NaN
31499    NaN
Name: Mapped_Name, Length: 31500, dtype: object

In [11]:
import pandas as pd

# Load the Excel files
updated_d_df = pd.read_excel('updated_d.xlsx')
combined_atlas_df = pd.read_excel('combined_atlas_data.xlsx')

# Step 1: Extract 2-digit codes from the 'Class_2_Data' column in combined_atlas_data.xlsx
combined_atlas_df['Code'] = combined_atlas_df['Class_2_Data'].str.extract(r'\((\d{2})')

# Step 2: Ensure both 'Divided_Code' and 'Code' are of the same type (convert to string for consistency)
updated_d_df['Divided_Code'] = updated_d_df['Divided_Code'].astype(str)
combined_atlas_df['Code'] = combined_atlas_df['Code'].astype(str)

# Step 3: Create a dictionary to map codes to names (mapping Code to Class_1_Data)
code_to_name_mapping = dict(zip(combined_atlas_df['Code'], combined_atlas_df['Class_1_Data']))

# Step 4: Map the 'Divided_Code' in updated_d_df to the corresponding name from combined_atlas_data
updated_d_df['Mapped_Name'] = updated_d_df['Divided_Code'].map(code_to_name_mapping)

# Save the updated DataFrame to a new Excel file
updated_d_df.to_excel('grouped_and_mapped_d.xlsx', index=False)

# Display the result (optional)
print(updated_d_df[['Divided_Code', 'Mapped_Name']])
updated_d_df.to_excel("e.xlsx")

      Divided_Code                                    Mapped_Name
0                1                                            NaN
1                2                                            NaN
2                3                                            NaN
3                4                                            NaN
4                6                                            NaN
...            ...                                            ...
31495           84                 Industrial Machinery (84 HS92)
31496           85   Electrical machinery and equipment (85 HS92)
31497           87                             Vehicles (87 HS92)
31498           94                            Furniture (94 HS92)
31499           96  Miscellaneous manufactured articles (96 HS92)

[31500 rows x 2 columns]

In [16]:
import pandas as pd

# Load the Excel file
e_df = pd.read_excel('e.xlsx')

# Group by 'Year', 'Country', and 'Divided_Code', summing the 'Value' column for identical groups
grouped_e_df = e_df.groupby(['Year', 'Country', 'Divided_Code'], as_index=False).agg({
    'Value': 'sum',  # Summing the values for identical groups
    'Mapped_Name': 'first'  # Keeping the first Mapped_Name for each group
})

# Save the updated DataFrame to a new Excel file
grouped_e_df.to_excel('grouped_e.xlsx', index=False)

# Optional: Display the result
print(grouped_e_df)

       Year  Country  Divided_Code     Value  \
0      2012  Albania             1  0.000000
1      2012  Albania             2  0.000000
2      2012  Albania             3  0.000000
3      2012  Albania             4  0.027008
4      2012  Albania             6  0.008862
...     ...      ...           ...       ...
22045  2021    Yemen            91  0.000000
22046  2021    Yemen            93  0.000000
22047  2021    Yemen            94  0.000000
22048  2021    Yemen            95  0.000000
22049  2021    Yemen            96  0.000000

                                         Mapped_Name
0                                               None
1                                               None
2                                               None
3                                               None
4                                               None
...                                              ...
22045                               Clocks (91 HS92)
22046                  Arms and ammunition (93 HS92)
22047                            Furniture (94 HS92)
22048                                 Toys (95 HS92)
22049  Miscellaneous manufactured articles (96 HS92)

[22050 rows x 5 columns]

In [17]:
import pandas as pd

# Load the Excel files
grouped_e_df = pd.read_excel('grouped_e.xlsx')
combined_atlas_df = pd.read_excel('combined_atlas_data.xlsx')

# Step 1: Ensure all Divided_Code entries are two digits (add a leading zero if needed)
grouped_e_df['Divided_Code'] = grouped_e_df['Divided_Code'].apply(lambda x: str(x).zfill(2))

# Step 2: Extract 2-digit codes from the 'Class_2_Data' column in combined_atlas_data.xlsx
combined_atlas_df['Code'] = combined_atlas_df['Class_2_Data'].str.extract(r'\((\d{2})')

# Step 3: Create a dictionary to map codes to names (mapping Code to Class_1_Data)
code_to_name_mapping = dict(zip(combined_atlas_df['Code'], combined_atlas_df['Class_1_Data']))

# Step 4: Map the 'Divided_Code' in grouped_e_df to the corresponding name from combined_atlas_data
grouped_e_df['Mapped_Name'] = grouped_e_df['Divided_Code'].map(code_to_name_mapping)

# Save the updated DataFrame to a new Excel file
grouped_e_df.to_excel('mapped_grouped_e.xlsx', index=False)

# Optional: Display the result
print(grouped_e_df)

       Year  Country Divided_Code     Value  \
0      2012  Albania           01  0.000000
1      2012  Albania           02  0.000000
2      2012  Albania           03  0.000000
3      2012  Albania           04  0.027008
4      2012  Albania           06  0.008862
...     ...      ...          ...       ...
22045  2021    Yemen           91  0.000000
22046  2021    Yemen           93  0.000000
22047  2021    Yemen           94  0.000000
22048  2021    Yemen           95  0.000000
22049  2021    Yemen           96  0.000000

                                         Mapped_Name
0                             Live animals (01 HS92)
1                                     Meat (02 HS92)
2                                     Fish (03 HS92)
3                           Diary products (04 HS92)
4                                   Plants (06 HS92)
...                                              ...
22045                               Clocks (91 HS92)
22046                  Arms and ammunition (93 HS92)
22047                            Furniture (94 HS92)
22048                                 Toys (95 HS92)
22049  Miscellaneous manufactured articles (96 HS92)

[22050 rows x 5 columns]